; * contacts module
; * access rights for contacts module
; *
; * Part of »Zugzwang Project«
; * http://www.zugzwang.org/modules/default
; *
; * @author Gustaf Mossakowski <gustaf@koenige.org>
; * @copyright Copyright © 2021 Gustaf Mossakowski
; * @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;
; Syntax of this configuration file:
; 
; [key]: access key
; - Field "description": description, just for information.
; - Field "group": default group name who hasthis right
;

[contacts_merge]
description = "merge contact records"
group = admin

[contacts_date_of_death]
description = "set or change date of death"
group = admin

[contacts_change_identifier]
description = "explicitly change identifier of a person"
group = admin
