; contacts module
; access rights
; 
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/contacts
; 
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2021-2022, 2024, 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;
; Syntax of this configuration file:
; 
; [key]: access key
; - Field "description": description, just for information.
; - Field "group": default group name who hasthis right
;

[contacts_merge]
description = "Merge contact records"
group = "read and write"

[contacts_date_of_death]
description = "Set or change date of death"
group = "read and write"

[contacts_change_identifier]
description = "Explicitly change identifier of a person"
group = "read and write"

[contacts_identifiers]
description = "Edit third party identifiers of contacts"
group = "read and write"

[contacts_login]
description = "See online status of a person, link to logins"
group = "admin"

[contacts_profile]
description = "Read contact profile pages"
group = "read and write"

[contacts_published]
description = "Publish contacts or contact details, relations"
group = admin

[contacts_remarks]
description = "Edit internal remarks per contact"
group = "read and write"
