; contacts module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/contacts
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[contacts_general]
description = "List with all contacts (without persons)"
brick = "forms contacts-general"
group = "read"

[contacts_persons]
description = "List with all persons"
brick = "forms persons"
group = "read and write"

[contacts_places]
description = "List with all contacts that are places"
brick = "forms places"
group = "read"

[contacts_profile]
description = "Profile page of a contact"
brick = "request contact *"
expand = scope
include_access[] = contacts_profile

["contacts_relations[staff]"]
description = "Staff list of an organisation (contact)"
brick = "forms contacts-contacts"
brick_local_settings[scope] = staff
group = "read and write"

[contacts_verification]
description = "Confirm an e-mail address (double opt-in)"
brick = "make contactverification"
group = public
