; contacts module
; proposed settings
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/contacts
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2021-2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
; 
; Syntax of this configuration file:
; 
; [key]: setting key
; - Field "description": description, just for information.
; - Field "type": type of setting, e. g. mail, number, foreign_key, etc.
; - Field "default": default value
;

[addlogin_key]
description = "Secret key which forms a hash that allows to add a login"
type = random
private = 1

[addlogin_key_validity_in_minutes]
description = "Timeframe in minutes during which the addlogin_key is valid"
type = int
default = 10800

[addlogin_rights]
description = "Rights that are given to contact if a login is added via e-mail"
type = text
default = "registration"

[contacts_addresses_legacy]
description = "Show field for address in contacts table, legacy version"
type = bool
default = 1

[contacts_birth_name]
description = "Show field for birth name in persons table"
type = bool
default = 1

[contacts_contact_abbr]
description = "Show field contact_abbr in contacts table"
type = bool

[contacts_contact_short]
description = "Show field contact_short in contacts table"
type = bool

[contacts_contact_sort]
description = "Show field contact_sort in contacts table"
type = bool

[contacts_country]
description = "Show field country in contacts table"
type = bool

[contacts_country_hierarchical]
description = "Show values in field country in contacts table hierarchically"
type = bool

[contacts_country_list]
description = "Show country as column in list view"
type = bool

[contacts_date_of_death]
description = "Show field for date of death in persons table"
type = bool
default = 1

[contacts_nationality_country_id]
description = "Show field for nationality in persons table"
type = bool
default = 1

[contacts_details_separate]
description = "Use own contactdetails subtable for this channel (not grouped by type)"
type = bool
scope[] = categories
subtree[] = channel
example[] = "contacts_details_separate=1"
example[] = "contacts_details_separate[organisations]=1"
example[] = "contacts_details_separate[places]=1"

[contacts_details_with_label]
description = "Show label field on contact details."
type = bool
scope[] = website
scope[] = categories
subtree[] = channel

[contacts_end_date]
description = "Show field end_date in contacts table"
type = bool
scope[] = website
scope[] = categories
subtree[] = contact

[contacts_general]
description = "Category for contacts without persons subtable"
type = bool
scope[] = categories
subtree[] = contact

[contacts_hide_address]
description = "Hide street address field in this address subtable"
type = bool
scope[] = categories
subtree[] = address

[contacts_hide_postcode]
description = "Hide postcode field in this address subtable"
type = bool
scope[] = categories
subtree[] = address

[contacts_identifiers]
description = "Show identifiers as subtable for contacts"
type = bool

[contacts_linklogin_key]
description = "Secret key which forms a hash that allows to login via link"
type = random
private = 1

[contacts_linklogin_key_validity_in_minutes]
description = "Timeframe in minutes during which the linklogin_key is valid"
type = int
default = 10800

[contacts_media]
description = "Include table contacts_media in contacts table"
type = bool

[contacts_media_max_records]
description = "Maximum media records associated to contact"
type = int
default = 20

[contacts_media_min_records]
description = "Minimum media records associated to contact"
type = int

[contacts_member]
description = "Include category in member-related relation pickers"
type = bool
scope[] = categories
subtree[] = contact

[contacts_no_delete]
description = "Disallow deletion of contacts"
type = bool
scope[] = categories
subtree[] = contact
scope[] = contacts

[contacts_parameters]
description = "Show field parameters in contacts table"
type = bool
default = 1

[contacts_params]
description = "Extra params when restricting contact relations"
scope[] = categories
subtree[] = relation
example[] = "contacts_params[contacts_reverse_relation]=1"

[contacts_persons_show_sex_in_list]
description = "Show field `persons.sex` in list"
type = bool

[contacts_published]
description = "Show a field contacts.published in forms, to set status of a contact to published"
type = bool
default = 1

[contacts_filter]
description = "Restrict contact picker to these contact category path segments (under contact/)"
scope[] = categories
subtree[] = awards
list = 1
example[] = "contacts_filter[contact/school]=1"
example[] = "contacts_filter[contact/club]=1"
example[] = "contacts_filter[contact/person]=1"

[contacts_reverse_relation]
description = "Swap contact_id and main_contact_id in contacts_contacts subtable"
type = bool
scope[] = categories
subtree[] = relation

[contacts_start_date]
description = "Show field start_date in contacts table"
type = bool
scope[] = website
scope[] = categories
subtree[] = contact

[contacts_use_place_contact]
description = "Use place contact instead of address per contact"
type = bool
scope[] = categories
subtree[] = contact

[contacts_venue]
description = "Venue-type contact for events and rooms"
type = bool
scope[] = categories
subtree[] = contact

[contacts_virtual]
description = "Contact category marks a virtual venue (no physical place)"
type = bool
scope[] = categories
subtree[] = contact

[mod_contacts_install_date]
description = "Initial installation date of contacts module (for updates)"
type = datetime

[own_contact_id]
description = "ID of owner of website in contact list"
type = int

[own_country_id]
description = "ID of country where website is in (default country)"
type = int

[persons]
description = "Use category for persons form subtables (contact details, relations, properties)"
type = bool
scope[] = categories
subtree[] = channel
subtree[] = relation

[role]
description = "Show role field in events_contacts subtable"
type = bool
scope[] = categories
subtree[] = contact
subtree[] = relation
subtree[] = roles


[zzform_def]
scope[] = categories
subtree[] = channel
subtree[] = address
example[] = "zzform_def[dont_check_username_online]=1"
example[] = "zzform_def[parse_url]=path[1]"
example[] = "zzform_def[url]=https://example.org/team/%s"
example[] = "zzform_def[webfinger]=1"
